::selection {
  background: #dcfc86;
  color: "black";
  text-shadow: none; }

::-moz-selection {
  background: #dcfc86;
  color: "black";
  text-shadow: none; }

::-webkit-selection {
  background: #dcfc86;
  color: "black";
  text-shadow: none; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #bbb; }
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; }
  ::-webkit-scrollbar-thumb:active {
    background: #ccc; }

body {
  margin: 0 20px;
  overflow-x: hidden;
  color: #333;
  background-color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html {
  overflow-x: hidden; }

#wrapper {
  margin-bottom: 30px; }

img {
  border: none; }

a {
  color: #3aa08f;
  text-decoration: none; }
  a:hover {
    color: #75bcb0; }

.header-link {
  position: relative;
  top: -1px;
  margin-left: 8px;
  font-size: 18px;
  text-decoration: none;
  color: #aaa;
  visibility: hidden; }

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  visibility: visible; }

table {
  margin: 2em auto;
  border-collapse: collapse;
  font-size: 16px;
  width: 60%;
  text-align: right; }

th, td {
  border: 1px solid #888; }

th {
  font-weight: 400;
  background: #888;
  color: #fff;
  line-height: 1.2;
  padding: 3px 8px; }

td {
  padding: 1px 8px; }

#jn-logo {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 0;
  width: 272px; }

#header {
  height: 123px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #header ul {
    padding: 82px 11px 0 0;
    list-style: none;
    text-align: right;
    color: #3aa08f;
    cursor: default; }
    #header ul li {
      display: inline;
      margin: 0 13px 0 0;
      padding: 0;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase; }

article header h1 {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #3aa08f; }

.post-list {
  margin: 0 0 60px 0; }
  .post-list .post-item {
    position: relative;
    margin-bottom: 12px; }
  .post-list h2 {
    margin: 1em 0 0.8em 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #777; }
  .post-list h3 {
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3; }
    .post-list h3 a {
      color: #333; }
      .post-list h3 a:hover {
        color: #888; }
  .post-list h4 {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: #999; }
  .post-list .tags {
    margin-top: 15px; }
    .post-list .tags li .tag-name {
      width: 150px; }

.post {
  position: relative;
  margin-bottom: 0px; }
  .post header .date {
    margin: 0;
    font-size: 20px;
    line-height: 1.8;
    text-transform: uppercase;
    color: #3aa08f; }
  .post h2 {
    display: table;
    margin: 1.2em 0 .8em;
    font-size: 19px;
    font-weight: 700;
    color: #3aa08f; }
  .post h3 {
    margin: 2em 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #3aa08f; }
  .post p {
    clear: both; }
    .post p a {
      font-weight: 700; }
    .post p code {
      font: 15px "Inconsolata", serif;
      font-weight: 600;
      color: #c55f70;
      padding: 4px 5px 2px 5px; }
  .post ul {
    list-style: square; }
  .post figure {
    margin: 2em 0;
    padding: 0; }
  .post .caption {
    display: block;
    margin: -1.5em 0 2em 0;
    text-align: center;
    font-size: 16px;
    color: #666; }
  .post pre {
    margin: 1.3em 0;
    padding: 0;
    font: 14px "Inconsolata", serif;
    line-height: 18px;
    font-weight: 400;
    overflow-x: auto; }
    .post pre code {
      font: 14px "Inconsolata", serif;
      background: none;
      color: #333; }
  .post .tags {
    margin-top: 12px; }
    .post .tags li {
      display: inline-block; }
  .post .references {
    margin-top: 40px;
    font-size: 14px; }
    .post .references h2 {
      font-size: 18px;
      margin: 0;
      color: #333; }
    .post .references h3 {
      margin: 1.5em 0 0 0;
      font-size: 16px;
      font-weight: 600;
      color: #333; }
    .post .references ul {
      list-style: none;
      padding: 0; }

.tags {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  color: #3aa08f; }
  .tags ul {
    margin: 0;
    padding: 0; }
  .tags li {
    line-height: 26px;
    margin: 0 2px 0 0; }
    .tags li .tag-name {
      display: inline-block; }
    .tags li a {
      padding: 1px 10px 2px 10px;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      background: #3aa08f; }
      .tags li a:hover {
        background: #75bcb0; }

.about header {
  margin-bottom: 15px; }
.about h2 {
  margin-top: 1.8em; }
.about .info {
  padding: 10px 20px;
  background: #eee; }
.about .astronaut {
  display: none; }

.footnotes {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  font-size: 14px; }
  .footnotes ol {
    padding: 0 0 0 30px; }

.comments {
  margin-top: 40px; }

#no-disqus {
  margin-top: 50px;
  padding: 15px 0;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  text-align: center; }

@media only screen and (min-width: 500px) {
  body {
    margin: 0 25px;
    font-size: 15px;
    line-height: 22px; }

  #jn-logo {
    top: 20px;
    width: 355px; }

  #header {
    height: 170px; }
    #header ul {
      padding-top: 112px;
      padding-right: 39px; }
      #header ul li {
        margin-right: 12px;
        padding-left: 3px;
        font-size: 18px;
        font-weight: 400; }
        #header ul li a {
          padding-right: 10px; }
        #header ul li:after {
          margin-right: -10px;
          content: "/"; }
        #header ul li:last-child:after {
          content: none; }

  article header h1 {
    font-size: 30px; }

  .post-list h1 {
    margin-bottom: 1em; }
  .post-list h2 {
    margin: 0;
    float: left;
    clear: left;
    font-size: 33px; }
  .post-list h3 {
    margin: 0 0 0 175px;
    font-size: 16px;
    line-height: 1.5; }
  .post-list h4 {
    position: absolute;
    top: 0;
    margin: 0 0 0 100px;
    font-size: 16px;
    line-height: 1.5; }
  .post-list .tags li .tag-name {
    width: 165px; }

  .post header .date {
    font-size: 22px;
    margin-bottom: 0; }
  .post h2 {
    font-size: 22px; }
  .post pre {
    margin: 1.6em 0;
    font-size: 15px;
    line-height: 20px; }
    .post pre code {
      font-size: 15px; }
  .post .references {
    margin-top: 50px;
    font-size: 15px;
    line-height: 20px; }
  .post .tags li {
    margin-bottom: 1px; }

  .tags li {
    margin: 0 3px 2px 0; }
    .tags li a {
      padding: 1px 10px 1px 10px;
      font-size: 14px; }

  .about h1 {
    margin-bottom: 30px; }

  .footnotes {
    margin-top: 50px;
    font-size: 15px;
    line-height: 20px; }

  .comments {
    margin-top: 50px; } }
@media only screen and (min-width: 900px) {
  body {
    margin: 0;
    font-size: 16px;
    line-height: 24px; }

  #wrapper {
    position: relative;
    left: -8%;
    padding-left: 80px;
    width: 680px;
    margin: 0 auto 40px auto; }

  #jn-logo {
    right: 0;
    z-index: 100;
    width: 400px; }

  #header {
    height: 330px; }
    #header ul {
      padding-top: 140px;
      padding-right: 54px; }
      #header ul li {
        font-size: 20px; }

  #header-bg {
    position: absolute;
    top: -53px;
    right: -355px;
    z-index: 0;
    width: 452px;
    height: 415px;
    background: url("/img/bg-header.png") 1px 1px no-repeat;
    background-size: 450px 413px;
    z-index: 0;
    pointer-events: none; } }
  @media only screen and (min-width: 900px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 900px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 900px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 900px) and (min-device-pixel-ratio: 2), only screen and (min-width: 900px) and (min-resolution: 192dpi), only screen and (min-width: 900px) and (min-resolution: 2dppx) {
    #header-bg {
      background-image: url("/img/bg-header@2x.png"); } }

@media only screen and (min-width: 900px) {
  article header h1 {
    font-size: 34px; }

  .post-list h1 {
    margin-bottom: 1.5em; }
  .post-list h2 {
    font-size: 36px; }
  .post-list h3 {
    margin-left: 195px;
    font-size: 18px; }
  .post-list h4 {
    margin-left: 110px;
    font-size: 18px; }
  .post-list .tags li {
    margin-bottom: 5px; }
    .post-list .tags li .tag-name {
      width: 180px; }

  .post {
    margin-bottom: 60px; }
    .post header h1 {
      width: 550px; }
    .post header .date {
      margin: 4px 0 60px 0; }
    .post h2 {
      font-size: 24px;
      margin-top: 1.5em; }
    .post h3 {
      margin-top: 1.2em; }
    .post pre {
      margin: 1.8em 0;
      padding-left: 20px;
      border-left: 4px solid #eee;
      font-size: 16px; }
      .post pre code {
        font-size: 16px;
        line-height: 22px; }
    .post .references {
      font-size: 15px; }
      .post .references h2 {
        font-size: 20px; }
    .post .tags {
      position: absolute;
      top: 0;
      right: 0;
      width: 125px;
      margin: 0; }
      .post .tags li {
        margin-bottom: 3px; }

  .tags li a {
    padding: 2px 10px 3px 10px;
    font-size: 15px; }

  .about header h1 {
    margin-bottom: 1.5em; }
  .about h2 {
    margin-top: 2.2em; }
  .about .astronaut {
    margin-top: 10em;
    display: block; }

  .comments {
    margin-top: 80px; } }
.hll {
  background-color: #ffffcc; }

.c {
  color: #8e908c; }

/* Comment */
.err {
  color: #c82829; }

/* Error */
.k {
  color: #8959a8; }

/* Keyword */
/* Operator */
.cm {
  color: #8e908c; }

/* Comment.Multiline */
.cp {
  color: #8e908c; }

/* Comment.Preproc */
.c1 {
  color: #8e908c; }

/* Comment.Single */
.cs {
  color: #4d4d4c; }

/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
.gr {
  color: #c82829; }

/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
.kc {
  color: #8959a8; }

/* Keyword.Constant */
.kd {
  color: #8959a8; }

/* Keyword.Declaration */
.kn {
  color: #8959a8; }

/* Keyword.Namespace */
.kp {
  color: #8959a8; }

/* Keyword.Pseudo */
.kr {
  color: #8959a8; }

/* Keyword.Reserved */
.kt {
  color: #3e999f; }

/* Keyword.Type */
.m {
  color: #718c00; }

/* Literal.Number */
.s {
  color: #718c00; }

/* Literal.String */
/* Name.Attribute */
.nb {
  color: #3e999f; }

/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
.ne {
  color: #c82829; }

/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
.ow {
  color: #4271ae; }

/* Operator.Word */
/* Text.Whitespace */
.mf {
  color: #718c00; }

/* Literal.Number.Float */
.mh {
  color: #718c00; }

/* Literal.Number.Hex */
.mi {
  color: #718c00; }

/* Literal.Number.Integer */
.mo {
  color: #718c00; }

/* Literal.Number.Oct */
.sb {
  color: #718c00; }

/* Literal.String.Backtick */
.sc {
  color: #718c00; }

/* Literal.String.Char */
.sd {
  color: #718c00; }

/* Literal.String.Doc */
.s2 {
  color: #718c00; }

/* Literal.String.Double */
.se {
  color: #718c00; }

/* Literal.String.Escape */
.sh {
  color: #718c00; }

/* Literal.String.Heredoc */
.si {
  color: #718c00; }

/* Literal.String.Interpol */
.sx {
  color: #718c00; }

/* Literal.String.Other */
.sr {
  color: #718c00; }

/* Literal.String.Regex */
.s1 {
  color: #718c00; }

/* Literal.String.Single */
.ss {
  color: #718c00; }

/* Literal.String.Symbol */
.bp {
  color: #3e999f; }

/* Name.Builtin.Pseudo */
.vc {
  color: #3e999f; }

/* Name.Variable.Class */
.vg {
  color: #3e999f; }

/* Name.Variable.Global */
.vi {
  color: #3e999f; }

/* Name.Variable.Instance */
.il {
  color: #718c00; }

/* Literal.Number.Integer.Long */
